<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Cancer Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Patient Cancer Prediction</h1>
    <form id="predictionForm">
        <div class="form-group">
            <label for="radius_mean">radius_mean:</label>
            <input type="text" id="radius_mean" name="radius_mean" value="15.37" required>
        </div>
        <div class="form-group">
            <label for="texture_mean">Texture Mean:</label>
            <input type="text" id="texture_mean" name="texture_mean" value="22.76" required>
        </div>        
        <div class="form-group">
            <label for="perimeter_mean">perimeter_mean:</label>
            <input type="text" id="perimeter_mean" name="perimeter_mean" value="100.2" required>
        </div>
        <div class="form-group">
            <label for="area_mean">area_mean:</label>
            <input type="text" id="area_mean" name="area_mean" value="728.2" required>
        </div>
        <div class="form-group">
            <label for="smoothness_mean">smoothness_mean:</label>
            <input type="text" id="smoothness_mean" name="smoothness_mean" value="0.09" required>
        </div>
        <div class="form-group">
            <label for="compactness_mean">compactness_mean:</label>
            <input type="text" id="compactness_mean" name="compactness_mean" value="0.1" required>
        </div>
        <div class="form-group">
            <label for="concavity_mean">concavity_mean:</label>
            <input type="text" id="concavity_mean" name="concavity_mean" value="0.11" required>
        </div>
        <div class="form-group">
            <label for="concave points_mean">concave points_mean:</label>
            <input type="text" id="concave points_mean" name="concave points_mean" value="0.07" required>
        </div>
        <div class="form-group">
            <label for="symmetry_mean">symmetry_mean:</label>
            <input type="text" id="symmetry_mean" name="symmetry_mean" value="0.17" required>
        </div>
        <div class="form-group">
            <label for="fractal_dimension_mean">fractal_dimension_mean:</label>
            <input type="text" id="fractal_dimension_mean" name="fractal_dimension_mean" value="0.06" required>
        </div>
        <div class="form-group">
            <label for="radius_se">Radius SE:</label>
            <input type="text" id="radius_se" name="radius_se" value="0.31" required>
        </div>
        <div class="form-group">
            <label for="texture_se">Texture SE:</label>
            <input type="text" id="texture_se" name="texture_se" value="0.84" required>
        </div>
        <div class="form-group">
            <label for="perimeter_se">perimeter_se:</label>
            <input type="text" id="perimeter_se" name="perimeter_se" value="2.08" required>
        </div>
        <div class="form-group">
            <label for="area_se">Area SE:</label>
            <input type="text" id="area_se" name="area_se" value="29.44" required>
        </div>
        <div class="form-group">
            <label for="smoothness_se">smoothness_se:</label>
            <input type="text" id="smoothness_se" name="smoothness_se" value="0.01" required>
        </div>
        <div class="form-group">
            <label for="compactness_se">compactness_se:</label>
            <input type="text" id="compactness_se" name="compactness_se" value="0.02" required>
        </div>
        <div class="form-group">
            <label for="concavity_se">Concavity SE:</label>
            <input type="text" id="concavity_se" name="concavity_se" value="0.05" required>
        </div>
        <div class="form-group">
            <label for="concave points_se">Concave Points SE:</label>
            <input type="text" id="concave points_se" name="concave points_se" value="0.02" required>
        </div>
        <div class="form-group">
            <label for="symmetry_se">symmetry_se:</label>
            <input type="text" id="symmetry_se" name="symmetry_se" value="0.02" required>
        </div>
        <div class="form-group">
            <label for="fractal_dimension_se">fractal_dimension_se:</label>
            <input type="text" id="fractal_dimension_se" name="fractal_dimension_se" value="0.00" required>
        </div>
        <div class="form-group">
            <label for="radius_worst">Radius Worst:</label>
            <input type="text" id="radius_worst" name="radius_worst" value="16.43" required>
        </div>
        <div class="form-group">
            <label for="texture_worst">Texture Worst:</label>
            <input type="text" id="texture_worst" name="texture_worst" value="25.84" required>
        </div>
        <div class="form-group">
            <label for="perimeter_worst">perimeter_worst:</label>
            <input type="text" id="perimeter_worst" name="perimeter_worst" value="107.5" required>
        </div>
        <div class="form-group">
            <label for="area_worst">area_worst:</label>
            <input type="text" id="area_worst" name="area_worst" value="830.9" required>
        </div>
        <div class="form-group">
            <label for="smoothness_worst">smoothness_worst:</label>
            <input type="text" id="smoothness_worst" name="smoothness_worst" value="0.13" required>
        </div>
        <div class="form-group">
            <label for="compactness_worst">compactness_worst:</label>
            <input type="text" id="compactness_worst" name="compactness_worst" value="0.2" required>
        </div>
        <div class="form-group">
            <label for="concavity_worst">concavity_worst:</label>
            <input type="text" id="concavity_worst" name="concavity_worst" value="0.28" required>
        </div>
        <div class="form-group">
            <label for="concave points_worst">concave points_worst:</label>
            <input type="text" id="concave points_worst" name="concave points_worst" value="0.15" required>
        </div>
        <div class="form-group">
            <label for="symmetry_worst">symmetry_worst:</label>
            <input type="text" id="symmetry_worst" name="symmetry_worst" value="0.26" required>
        </div>
        <div class="form-group">
            <label for="fractal_dimension_worst">fractal_dimension_worst:</label>
            <input type="text" id="fractal_dimension_worst" name="fractal_dimension_worst" value="0.07" required>
        </div>
        
        </div>
        <button type="submit">Predict</button>
    </form>
    <div class="result" id="result"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>